body {
	overflow-y: scroll;
	font-family: 'Poppins', sans-serif;
	background-color: #e4e6e1;
	font-weight: 300;
}

b {
	font-weight: 400;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:link {
	color: #3d612c;
}

a:visited {
	color: #3d612c;
}

a:hover {
	color: #89aa27;
}

a:active {
	color: #3d612c;
}

.intro {
	display: flex;
	width: 35%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 1%;
	padding-top: 1%;
	border-radius: 6px;
}

#intro-pic {
	flex: 1;
	padding-right: 3%;
	margin: auto;
}

#intro-desc {
	flex: 2;
}

.section {
	margin: auto;
	width: 35%;
	padding-top: 0.5%;
	border-radius: 6px;
}

.header {
	margin: auto;
	margin-bottom: 1%;
}

.panel {
	margin: auto;
	width: 100%;
	height: 100%;
	margin-bottom: 2%;
	border-radius: 6px;
	border-width: 2px;
	border-color: #3d612c;
}

.gallery {
	margin: auto;
	width: 90%;
	line-height:0;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    column-gap: 1%;
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
}

img {
	width: 100%;
	margin-bottom: 3%;
	border-radius: 25px;
}

@media screen and (max-width: 1680px) {
	.section {
		width: 50%;
	}

	.gallery {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}

	.intro {
		width: 50%;
	}
}

@media screen and (max-width: 1280px) {
	.section {
		width: 80%;
	}

	.gallery {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

	.intro {
		width: 80%;
	}
}

@media screen and (max-width: 736px) {
	.section {
		width: 95%;
	}

	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.intro {
		width: 90%;
		display: block;
	}

	#intro-pic {
		width: 60%;
	}
}
