body {
	overflow-y: scroll;
	font-family: 'Poppins', sans-serif;
	background-color: #FCFFFA;
	font-weight: 300;
}

.column-container {
	display: flex;
}

b {
	font-weight: 400;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 400;
}

a {
	text-decoration: none;
	font-weight: 500;
}

b {
	font-weight: 500;
}

a b {
	font-weight: 700;
}

a:link {
	color: #3d612c;
}

a:visited {
	color: #3d612c;
}

a:hover {
	color: #89aa27;
}

a:active {
	color: #3d612c;
}

.column {
	display: block;
	margin-right: 1%;
	margin-left: 1%;
}

.intro {
	margin: auto;
	margin-bottom: 1%;
	padding-top: 1%;
}

#intro-pic {
	padding-right: 3%;
	margin: auto;
	width: 85%;
}

.section {
	display: block;
	margin: auto;
	padding-bottom: 0.5%;
}

.header {
	margin: auto;
	margin-bottom: 1%;
}

.panel {
	margin: auto;
	width: 100%;
	height: 100%;
	margin-bottom: 2%;
	border-radius: 6px;
	border-width: 2px;
	border-color: #3d612c;
}

.gallery {
	margin: auto;
	line-height:0;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    column-gap: 1%;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

img {
	width: 100%;
	border-radius: 25px;
}

.gallery img {
	margin-bottom: 3%;
}

.design {
	display: flex;
	align-items: center;
	margin-bottom: 3%;
}

.design a {
	flex: 1;
}

.design a img {
	border: 2px solid #3d612c;
}

.design div {
	flex: 3;
	margin-left: 2%;
}

@media screen and (max-width: 1680px) {
	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.design div {
		flex: 2;
	}
}

@media screen and (max-width: 1280px) {
	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.column-container {
		display: block;
	}
}

@media screen and (max-width: 736px) {
	.column-container {
		display: block;
	}

	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	#intro-pic {
		width: 60%;
	}
}
