@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
		background-image: url("images/overlay.png"), url("images/bg.jpg");
		background-repeat: repeat, no-repeat;
		background-size: auto, 100% 100%;
		background-attachment: fixed;
		overflow-y: scroll;
		font-family: 'Montserrat', sans-serif;
}

a:link {
		color: #000000;
}

a:visited {
		color: #ef9af5;
}

a:hover {
		color: #f6befa;
}

a:active {
		color: #f044fc;
}

.intro {
		display: flex;
		width: 40%;
		margin: auto;
		margin-top: 2%;
		margin-bottom: 1%;
		background-color: #ffffff;
		padding: 1%;
		border-radius: 6px;
}

#intro-pic {
		flex: 1;
		padding-right: 3%;
}

#intro-desc {
		flex: 2;
}

.section {
		margin: auto;
		margin-top: 1%;
		width: 60%;
		margin-bottom: 3%;
		background-color: #ffffff;
		padding: 1%;
		border-radius: 6px;
}

.header {
		margin: auto;
		margin-bottom: 1%;
}

.panel {
		margin: auto;
		width: 98%;
		height: 100%;
		margin-bottom: 1%;
		background-color: #eeeeee;
		padding: 1%;
		border-radius: 6px;
}

.gallery {
		margin: auto;
		width: 90%;
		line-height:0;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    column-gap: 1%;
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
}

img {
		width: 94%;
		margin-bottom: 3%;
		padding: 10% 3% 10% 3%;
		background-color: #ffffff;
}

@media screen and (max-width: 3000px) {
		body, input, textarea, select {
				font-size: 18pt;
		}
}

@media screen and (max-width: 2200px) {
		body, input, textarea, select {
				font-size: 16pt;
		}
}

@media screen and (max-width: 1680px) {
		body, input, textarea, select {
				font-size: 15pt;
		}

		.section {
				width: 70%;
		}

		.gallery {
				-webkit-column-count: 4;
				-moz-column-count: 4;
				column-count: 4;
		}

		.intro {
				width: 40%;
		}

		#intro-pic {
				margin: auto;
		}
}

@media screen and (max-width: 1280px) {
		body, input, textarea, select {
				font-size: 14pt;
		}

		.section {
				width: 80%;
		}

		.gallery {
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-count: 3;
		}

		.intro {
				width: 80%;
		}

		#intro-pic {
			display: none;
		}
}

@media screen and (max-width: 736px) {
		body, input, textarea, select {
				font-size: 12pt;
		}

		.section {
				width: 95%;
		}

		.gallery {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
		}

		.intro {
				width: 90%;
		}
}
